@import "tailwindcss";

html{
    scroll-behavior:smooth;
}


body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-family: "Poppins", sans-serif;
}

.hero-bg {
    background: radial-gradient(circle at top, #4954df 0%, #2933b1 55%);
}

.glass {
    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.15);
}

.animate-logo {
    animation: logo 1.2s ease;
}

@keyframes logo {
    0% {
        opacity: 0;

        transform: scale(0.7);
    }

    100% {
        opacity: 1;

        transform: scale(1);
    }
}

.loading-bar {
    width: 0%;

    background: white;

    animation: loading 2.3s linear forwards;
}

@keyframes loading {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.floating {
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0);
    }
}
.section-divider {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.03),
        rgba(255, 255, 255, 0)
    );
}

#pageTransition{

    animation:fadePage .45s ease;

}

@keyframes fadePage{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
